<section data-header></section>		<!-- Header Section -->
	<div class="content">
        <div class="container">
          	<div class="row">
			  	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<div class="privacy-policy">
						<ul class="breadcrumb">
						  <li><a href="/">Home</a></li>
						  <li class="active">Privacy Policy</li> 
						</ul>
						<div class="panel panel-default">
						  	<div class="panel-heading">
						    	<h3 class="panel-title"><h2>Privacy Policy</h2></h3>
						  	</div>
						  	<div class="panel-body">					  
					  		</div>				         
					  	</div>
					</div>
				</div>
				<section data-side-panel></section>		<!-- Side Panel -->
			</div>
		</div>
	</div>


<section data-footer></section>		<!-- Footer Section -->