<div>
	<aside class="right-panel col-lg-4 col-md-4 col-sm-4 col-xs-12">
	  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		  <aside id="search-2" class="widget widget_search">
			  <form method="get" class="form-search" action="#">
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control search-query" placeholder="Search..." value="" name="s">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default" name="submit" id="searchsubmit" value="Search"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>
				</div>
			</form>
		  </aside>
	  </div>
	  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		  <ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#post">RECENT</a></li>
			<li><a data-toggle="tab" href="#comments"><i class="fa fa-comments tab-comment"></i></a></li>
		  </ul>

		  <div class="tab-content">
			<ul id="post" class="right-tab tab-pane fade in active">
				<li><a href="#" class="tab-thumb thumbnail"><img height="60" width="60" src="./images/wordpress.jpg"></img></a>
					<div class="recent-content">
						<a class="block tab-entry" href="#" title="title">Title</a>
						<i>Jan 7, 2015</i>
					</div>
				</li>
				<li><a href="#" class="tab-thumb thumbnail"><img height="60" width="60" src="./images/wordpress.jpg"></img></a>
					<div class="recent-content">
						<a class="block tab-entry" href="#" title="title">Title</a>
						<i>Jan 7, 2015</i>
					</div>
				</li>
				<li><a href="#" class="tab-thumb thumbnail"><img height="60" width="60" src="./images/wordpress.jpg"></img></a>
					<div class="recent-content">
						<a class="block tab-entry" href="#" title="title">Title</a>
						<i>Jan 7, 2015</i>
					</div>
				</li>
				<li><a href="#" class="tab-thumb thumbnail"><img height="60" width="60" src="./images/wordpress.jpg"></img></a>
					<div class="recent-content">
						<a class="block tab-entry" href="#" title="title">Title</a>
						<i>Jan 7, 2015</i>
					</div>
				</li>
				<li><a href="#" class="tab-thumb thumbnail"><img height="60" width="60" src="./images/wordpress.jpg"></img></a>
					<div class="recent-content">
						<a class="block tab-entry" href="#" title="title">Title</a>
						<i>Jan 7, 2015</i>
					</div>
				</li>
			</ul>
			<ul id="comments" class="right-tab tab-pane fade">
			  	<li><div class="recent-comments">Gökhan on<a href="#" rel="bookmark" title="Gallery">Gallery</a>
	                <p>Hello Is that different categories of the gallery can be</p> </div></li>
				<li><div class="recent-comments">Gökhan on<a href="#" rel="bookmark" title="Gallery">Gallery</a>
	                <p>Hello Is that different categories of the gallery can be</p> </div></li>
				<li><div class="recent-comments">Gökhan on<a href="#" rel="bookmark" title="Gallery">Gallery</a>
	                <p>Hello Is that different categories of the gallery can be</p> </div></li>						
				<li><div class="recent-comments">Gökhan on<a href="#" rel="bookmark" title="Gallery">Gallery</a>
	                <p>Hello Is that different categories of the gallery can be</p> </div></li>
				<li><div class="recent-comments">Gökhan on<a href="#" rel="bookmark" title="Gallery">Gallery</a>
	                <p>Hello Is that different categories of the gallery can be</p> </div></li>
			</ul>
			
		  </div>
	  </div>
	  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h3>Categories</h3>
		<div class="list-group">
		  <a href="/category/skills/skill_1" class="list-group-item"><span class="badge">12</span>Skill 1</a>
		  <a href="/category/skills/skill_2" class="list-group-item"><span class="badge">5</span>Skill 2</a> 
		  <a href="/category/skills/skill_3" class="list-group-item"><span class="badge">3</span>Skill 3</a> 
		  <a href="/category/skills/skill_4" class="list-group-item"><span class="badge">4</span>Skill 4</a> 
		  <a href="/category/skills/skill_5" class="list-group-item"><span class="badge">44</span>Skill 5</a> 
		</div>
	  </div>
	</aside>
</div>